<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Información</h2>
            <hr>
            <br>
            <br>
            <br>
        </div>
    </div>    
    <p>En esta página se mostrará un ejemplo de uso de la integración de las APIs de Twitter, Instagram y Dropbox para generar un sistema de publicación y sincronización de las fotografías en cada sistema. De esta manera, las funciones que tenemos son:</p>
    <ul>
        <li>Obtener de Instagram un número de imágenes y guardarlas en Dropbox.</li>
        <li>Obtener de Instagram un número de imágenes y publicarlas en Twitter.</li>
        <li>Seleccionar fotos de una carpeta de Dropbox y publicarlos en Twitter.</li>
    </ul>
    
    <p>Para mostrar el funcionamiento se han creado tres secciones para cada una de ellas. Siendo el funcionamiento muy sencillo: En cada uno de los casos se mostrará una galería con las imágenes de Instagram o de Dropbox, se seleccionará las que se quieran guardar y/o publicar y se procederá a llamar a los métodos que hemos generado en nuestra API para integrar ambos sistemas.</p>

</div>
