@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);

@azul_barra: rgba(41,118,162,0.8);
@fondo_videos: #6db4e1;
@fondo_comollegar: #59a5c4;
@fondo_inscribete: #7dbbe2;

.fondo(@url,@color) {
    background-image: url(@url);
    background-color: @color;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
}

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: Raleway, Helvetica;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

a {
    outline: 0;
    text-decoration: none;
    text-decoration: none;
    color: #1b88c6;
}

a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
    text-decoration: none;
    color: #20526e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

header {
    text-align: center;
    .fondo("../images/fondos/cabecera.jpg", @azul_barra);
    min-height: 50%;
}

section {
    padding: 100px 0;
    min-height: 700px;
}

h2.section-heading {
    margin-top: -70px;
    margin-bottom: 0px;
    font-size: 40px;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

h4.cabecera {
    margin: 15px 0;
    text-transform: none;
}

#monitores .monitores-item {
    right: 0;
    margin: 0 0 15px;
    padding: 10px 40px 10px 40px;
    .monitores-link {
        display: block;
        position: relative;
        margin: 0 auto;
        max-width: 400px;
        .monitores-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: rgba(96, 184, 226, 0.5);
            -webkit-transition: all ease .5s;
            -moz-transition: all ease .5s;
            transition: all ease .5s;
        }
        .monitores-hover:hover {
            opacity: 1;
        }
    }
}

#monitores * {
    z-index: 2;
}

#inscribete {
    .fondo("../images/fondos/fondo-inscribete.jpg", @fondo_inscribete);
}

.pantalla-completa .modal-content {
    padding: 75px 20% 75px 20%;
    min-height: 100%;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#map_canvas {
    height: 100%;
    height: 400px;
    margin: 0px;
    padding: 0px;
}

div.comollegar-container {
    z-index: 10;
    background-color: #5190bb;
    padding: 0px;
    border-radius: 0px;
    -moz-border-radius: 4px;
    border: 1px solid #dddddd;
    margin-top: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    opacity: 0.97;
}

.formulario {
    padding: 30px 60px 30px 60px;
    font-size: 0.8em;
    p {
        padding: 10px 0px 10px 0px;
        font-size: 1.2em;
    }
}

#formulario {
    background-color: #f7f7f7;
    opacity: 0.925;
    border-radius: 5px;
    color: #404040;
}

.pequeno-gris > p {
    color: gray;
    font-size: 0.9em;
}

#opcionmenu {
    margin: 0px -15px 0px -15px;
    p {
        padding: 15px;
        color: white;
    }
}

#opcionmenu:hover {
    background-color: #164464;
}

.comollegar-texto {
    background-color: white;
    padding: 5px 50px 50px 50px;
    p {
        margin: 27px 0px 27px 0px;
        color: gray;
        font-size: 0.9em;
    }
    li {
        color: gray;
        font-size: 0.9em;
    }
}

.fondo-parallax {
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: 50% 0;
}

#fondo-comollegar {
    .fondo("../images/fondos/fondo-comollegar.jpg", @fondo_comollegar);
}

hr {
    max-width: 1000px;
}

.dark-hr {
    background-color: #1c1c1c;
    height: 1px;
}

#videos {
    .fondo("../images/fondos/fondo-videos.jpg", @fondo_videos);
    color: white;
}

.precio {
    min-height: 130px;
}

.circulo {
    background: @azul_barra;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    padding-top: 33px;
    margin: 20px auto;
    color: white;
    font-size: 100px;
}

.navbar {
    font-family: 'Titillium Web', Helvetica;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f9f9f9;
    background-color: @azul_barra;
}

.vistas {
    padding: 50px;
}

footer {
    clear: both;
    padding: 30px 0 22px 0;
    font-size: 0.9em;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
}

.numalumnos {
    font-size: 100px;
    color: white;
    margin: auto;
}